!.vscode/extensions.json
.DS_Store
local.env
.env.vercel
.idea
.pnp.js
.turbo/
.vercel
.vscode/*
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
/.pnp
/coverage
build/*
data/norge/Ufo_Norge_Hoveddatabase.mdb
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
packages/*/build/
packages/*/dist/
pnpm-debug.log*
temp.sql
tsconfig.node.tsbuildinfo
tsconfig.tsbuildinfo
yarn-debug.log*
yarn-error.log*