/* ContextMenu.css */

#context-menu {
    position: fixed;
    z-index: 100;
    border: 1px solid var(--ufo-primary-border-clr);
    background-color: var(--ufo-primary-bg);
    color: var(--ufo-primary-fg);
    box-shadow: var(--ufo-box-shadow);
    min-width: 10em;
    min-height: 1em;
}

#context-menu div {
    padding: 8px 12px;
    cursor: pointer;
}