/* FeatureTable.css */

.ag-row-focus {
    outline: 1px solid var(--ufo-brand-clr) !important;
    background: var(--ufo-brand-clr) !important;
    color: black !important;
}

.ag-row:hover {
    background: var(--ufo-brand-clr);
    color: var(--ufo-brand-clr-fg);
    transition: background 2.6s ease-out !important;
}

#feature-table {
    position: relative;
    display: block;
    background-color: var(--ufo-ctrl-primary-bg) !important;
    padding-bottom: 1em;
}