/* FeatureTable.css */

.ag-row-focus {
    outline: 1px solid var(--ufo-brand-clr) !important;
    background: var(--ufo-brand-clr) !important;
    color: black !important;
}

#feature-table {
    position: relative;
    display: block;
    background-color: var(--ufo-primary-bg);
    padding-bottom: 1em;
}