#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.map {
    position: fixed;
    top: var(--ufo-toolbar-height);
    right: 0;
    height: 100%;
    margin: 0;
    padding: 0;
}

.map {
    width: 100%;
}

.REPORT_HIDDEN .map {
    width: 100%;
}

body.REPORT_FULL_WIDTH .map {
    width: 0;
    max-width: 0;
}

body.larger-screen.REPORT_NARROW_WIDTH .map {
    width: calc(100% - var(--ufo-panel-narrow-width));
    max-width: calc(100% - var(--ufo-panel-narrow-width));
}

body.small-screen.REPORT_NARROW_WIDTH .map {
    height: calc(100% - var(--ufo-panel-small-screen-height));
    max-height: calc(100% - var(--ufo-panel-small-screen-height));
}

.ol-zoom {
    bottom: unset;
    left: unset;
    right: var(--ufo-div-padding);
    top: var(--ufo-div-padding);
    background-color: --ufo-ctrl-bg;
}

.ol-zoom button:hover {
    outline-color: var(--ufo-brand-clr) !important;
    color: var(--ufo-brand-clr) !important;
    background-color: var(--ufo-ctrl-bg-focus);
}


.map .theme-ctrl {
    position: absolute;
    top: 3.5em;
    z-index: 10;
    right: 0;
    float: right;
    margin-top: var(--ufo-div-padding);
    margin-right: var(--ufo-div-padding);
    margin-bottom: 0;
    padding: 0;
    border-radius: 2pt;
    filter: grayscale(100%);
    background-color: --ufo-ctrl-bg;
}

.map .theme-ctrl {
    background-color: var(--ufo-ctrl-bg-focus);
}

.map .theme-ctrl::after {
    content: '🗺️';
}