#root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 1pt solid white;
}

.map {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 1pt solid white;
}