.modal {
    background: var(--ufo-modal-bg);
    color: var(--ufo-modal-fg);
    position: absolute;
    top: 0;
    left: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(10, 10, 10, .6);
    z-index: 100;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .modal-content {
    position: relative;
    background: var(--ufo-modal-bg);
    color: var(--ufo-modal-fg);
    width: 80vw;
    height: 80vh;
    padding: 2em;
    border: 1pt solid var(--ufo-modal-border-clr);
    border-radius: 4pt;
    overflow: auto;
}

.modal .modal-close {
    position: absolute;
    top: 1em;
    right: 1.3em;
}

.modal .modal-close:after {
    content: 'X';
    border: 1pt solid var(--ufo-ctrl-fg);
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: block;
    line-height: 1em;
    display: flex;
    justify-content: center;
    padding: 10%;
    cursor: pointer;
}