/* Panel.css */

.panel {
    position: fixed;
    top: 0;
    left: 0;
    bottom: unset;
    right: unset;
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    background-color: var(--ufo-primary-bg);
    color: var(--ufo-primary-fg);
    border-right: 1pt solid var(--ufo-primary-border-clr);
    transition: height 0.3s ease;
}

.panel.collapsed {
    height: 4rem;
    overflow: hidden;
}

@media (max-width: 768px) {
    .panel {
        top: unset;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30vh;
        padding: 0 0.5rem;
        border-right: unset;
        border-top: 1pt solid var(--ufo-primary-border-clr);
    }

    .collapse-btn {
        margin-right: 1rem;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    margin: 0;
}

@media (max-width: 768px) {
    header {
        padding: 0.25rem 0;
    }
}

.collapse-btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 1em;
    transition: all 0.3s ease;
    opacity: 50%;
}

.panel .collapse-btn::after {
    content: '▲';
}

.panel.collapsed .collapse-btn::after {
    content: '▼';
}

main {
    flex: 1;
    overflow-y: auto;
}