#report-button {
    position: absolute;
    background-color: var(--ufo-ctrl-bg);
    color: var(--ufo-ctrl-fg);
    left: calc(var(--ufo-panel-narrow-width) + 2em);
    top: var(--ufo-toolbar-height);
    border: 0 !important;
    height: 3.6em;
    width: 1.5em;
    z-index: 2;

    .close-full-width::after {
        content: '◀';
    }

    .open-full-width::after {
        content: '▶';
    }
}

#report-button:hover {
    color: var(--ufo-brand-clr);
}

.REPORT_FULL_WIDTH #report-button {
    left: unset;
    right: 1em;
}