/* Panel.css */

.panel {
    position: fixed;
    top: var(--ufo-toolbar-height);
    left: 0;
    bottom: unset;
    right: unset;
    width: var(--ufo-panel-narrow-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: var(--ufo-primary-bg);
    color: var(--ufo-primary-fg);
    border: 1pt solid var(--ufo-primary-border-clr);
    transition: height 0.3s ease;
    transition: width 0.1s;
    transition: margin 0.1s;
}

.panel.collapsed {
    transition: margin 0.1s;
    margin-top: var(--ufo-div-padding);
    margin-left: var(--ufo-div-padding);
    height: 3rem;
    height: auto;
    overflow: hidden !important;
}

.panel.collapsed main {
    display: none;
}

.panel.full-width {
    width: 100vw;
    transition: width 0.1s;
}

@media (max-width: 768px) {
    .panel {
        top: unset;
        right: 0;
        left: 0;
        bottom: 0;
        width: auto;
        height: 30vh;
        padding: 0 var(--ufo-div-padding);
        border-right: unset;
        border-top: 1pt solid var(--ufo-primary-border-clr);
        border-top-left-radius: var(--ufo-div-padding);
        border-top-right-radius: var(--ufo-div-padding);
    }

    .panel.collapsed {
        height: 3rem;
    }

    .collapse-btn {
        margin-right: 0.25rem;
    }
}

header {
    display: flex;
    align-items: center;
    padding: 4pt;
    margin: 0;
    padding-right: var(--ufo-div-padding);
}

.panel.full-width header {
    padding: 8pt;
    font-weight: bold;
    font-size: 1.2em;
}

header.clusters {
    justify-content: center;
}

header.points {
    justify-content: space-between;
}

@media (max-width: 768px) {
    header {
        padding: 0.25rem 0;
    }
}

.collapse-btn,
.full-width-btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 1em;
    transition: all 0.3s ease;
    opacity: 50%;
    font-size: 1rem;
}

.panel .collapse-btn::after {
    content: '▲';
}

.panel.collapsed .collapse-btn::after {
    content: '▼';
}

@media (max-width: 768px) {
    .panel .collapse-btn::after {
        content: '▼';
    }

    .panel.collapsed .collapse-btn::after {
        content: '▲';
    }
}

.panel .full-width-btn::after {
    content: '▶';
}

.panel.full-width .full-width-btn::after {
    content: '◀';
}


main {
    flex: 1;
    overflow: auto;
}