/* Panel.css */

#panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: var(--ufo-primary-bg);
    position: fixed;
    overflow: auto;
    width: var(--ufo-panel-narrow-width);
    top: var(--ufo-toolbar-height);
    left: 0;
    bottom: unset;
    right: unset;
    height: 100%;
    color: var(--ufo-primary-fg);
    border: 1pt solid var(--ufo-primary-border-clr);
    border-top: none;
    transition: all 0.5s ease;
    opacity: 0.75;

    .message {
        margin: 3em 1em;
        text-align: center;
    }
}

#panel.nothing-to-show {
    opacity: 0.55;
    height: auto;
    left: 0 !important;
    margin: 0.3em;
}

.REPORT_FULL_WIDTH #panel {
    width: 100%;
    height: 100%;
}

.SMALL-SCREEN #panel {
    width: 100%;
    top: calc(100vh - var(--ufo-panel-SMALL-SCREEN-height));
    left: 0;
    right: 0;
    bottom: 0;
}

.SMALL-SCREEN.REPORT_FULL_WIDTH #panel {
    top: var(--ufo-toolbar-height);
}