.tooltip {
    /* position: absolute; */
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5pt;
    border-radius: 2pt;
    box-shadow: 0 2pt 4pt rgba(0, 0, 0, 0.1);
    font-size: 12pt;
    color: #eee;
}

.tooltip {
    h3 {
        text-transform: capitalize;
        font-size: 100%;
        padding: 0;
        margin: 2pt 0;
    }

    small {
        font-weight: light
    }
}