/* DateRange.css */

.date-range {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

input {
    width: 4em;
    text-align: center !important;
    font-family: 'Courier New', Courier, monospace;
}

.calendar-icon {
    display: inline-block;
    padding-right: 0.5em;
}

.calendar-icon::after {
    content: '📅';
}