/* DateRange.module.css */

#SearchText {
    width: 24em;
    min-width: 12em;
}

#SearchText {
    input {
        font-size: 1rem;
        padding: 0 2pt;
        height: 100%;
        flex-grow: 1;
        width: 100%;
        height: 100%;
    }

    .search-icon {
        display: block;
        padding: 0;
        padding-left: 1pt;
        margin-right: 0.25em;
        rotate: 90deg;
    }

    .search-icon::after {
        content: '🔍';
    }
}