/* DateRange.module.css */

.search-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 24em;
    min-width: 12em;
    background-color: var(--ufo-ctrl-bg);
}

.search-text {
    input {
        flex-grow: 1;
        width: 100%;
        height: 100%;
    }

    .search-icon {
        display: block;
        padding: 0;
        padding-left: 1pt;
        margin-right: 0.25em;
        rotate: 90deg;
    }

    .search-icon::after {
        content: '🔍';
    }
}