/* SourceSelector.css */

#SourceSelector {
    select {
        outline: 0;
        border: 0;
        background-color: var(--ufo-ctrl-bg);
        height: 100%;
        padding: 0;
        margin: 0;
    }
}