/* SourceSelector.css */

#SourceSelector {
    select {
        outline: 0;
        border: 0;
        background-color: var(--ufo-ctrl-bg);
        height: 100%;
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
    }

    option {
        outline: none;
        border: none;
        margin: 0;
        padding: 0 0.5em;
        font-weight: normal !important;
        font-family: var(--font-family) !important;
    }
}

#SourceSelector:focus-within {
    border-color: var(--ufo-brand-clr);
}