/* ContextMenu.css */

#context-menu {
    position: fixed;
    z-index: 100;
    border: 1px solid var(--ufo-primary-border-clr);
    background-color: var(--ufo-primary-bg);
    color: var(--ufo-primary-fg);
    box-shadow: var(--ufo-box-shadow);
    min-width: 10em;
    min-height: 1em;

    li {
        padding: 8px 12px;
        cursor: pointer;
        font-weight: bold;
        list-style: none;
    }

    li:hover {
        background-color: var(--ufo-brand-clr);
        color: var(--ufo-brand-clr-fg)
    }

    hr {
        color: var(--ufo-primary-border-clr);
        opacity: 0.25;
    }
}