#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    position: fixed;
    top: var(--ufo-toolbar-height);
    bottom: 0;
    right: 0;
    height: 100%;
    margin: 0;
    padding: 0;

    left: 0;
    width: 100%;
    transition: all 0.3s ease;
}

#map.with-points {
    left: 100% - var(--ufo-panel-narrow-width);
    width: calc(100% - var(--ufo-panel-narrow-width));
}

#map.panel-is-hidden {
    /* width: calc(100% - var(--ufo-panel-narrow-width)); */
    width: calc(100%);
}

#map.panel-is-full {
    width: 0;
}

.LARGER-SCREEN #map.panel-is-narrow {
    /* width: calc(100% - var(--ufo-panel-narrow-width)); */
    width: calc(100%);
}

.SMALL-SCREEN #map.panel-is-narrow {
    height: calc(100% - var(--ufo-panel-SMALL-SCREEN-height));
}

.ol-zoom {
    bottom: unset;
    left: unset;
    right: var(--ufo-div-padding);
    top: var(--ufo-div-padding);
    background-color: --ufo-ctrl-bg;
}

.ol-zoom button:hover {
    outline-color: var(--ufo-brand-clr) !important;
    color: var(--ufo-brand-clr) !important;
    background-color: var(--ufo-ctrl-bg-focus);
}


.map-ctrls {
    position: absolute;
    top: 5em;
    z-index: 10;
    right: 0;
    float: right;
    margin-top: var(--ufo-div-padding);
    margin-right: var(--ufo-div-padding);
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    height: auto;
    max-width: 2em;
    background-color: var(--ufo-ctrl-bg);
    padding: 2pt;
}

.map-ctrls .map-ctrl {
    position: relative;
    border-radius: 2pt;
    filter: grayscale(100%);
    background-color: --ufo-ctrl-bg;
    display: block;
    padding: 0;
    margin: 0;
    padding-bottom: 4pt !important;
}

.map-ctrls .map-ctrl:last-child {
    padding-bottom: 0 !important;
}

.map-ctrl:hover {
    color: var(--ufo-brand-clr) !important;
    filter: none !important;
    background: var(--ufo-ctrl-bg-focus) !important;
}